body {
  background-color: rgb(17, 24, 39);
  font-family: Arial, Helvetica, sans-serif;
}

p {
  margin: 0;
}

button {
  background-color: rgb(31, 41, 55);
  color: white;
  height: auto;
  width: auto;
  border: none;
  border-radius: 10px;
  display: table;
  margin: 0 auto;
  margin-top: 20px;;
}

.Titulo {
  color: rgb(18, 202, 187);
  font-size: 30px;
  font-weight: 1000;
  transform: scale(1.05, 1.20);
  display: table;
  margin: 0 auto;
  margin-top: 35px;
}

.SemiTitulo {
  font-size: 16px;
  color: rgb(151, 158, 171);
  display: table;
  margin: 0 auto;
  margin-top: 12px;
}
