.div_Desafios_de_Hoje {
  background-color: rgb(31, 41, 55);
  height: 115px;
  width: 460px;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 61.91px 18px 35.39px;
  margin: 0 auto;
  margin-top: 35px;
}

.div_p_Desafios_e_Datas {
  display: grid;
  grid-template-columns: 9fr 8fr;
  padding-top: 20px;
}

.p_Desafios_de_Hoje {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  transform: scale(1.03, 1.05);
}

.p_Datas {
  color: rgb(151, 158, 171);
  width: auto;
  font-size: 14px;
  font-weight: lighter;
  text-align: center;
  padding-top: 8px;
  padding-right: 18px;
}

.div_BarraDeProgresso {
  background-color: rgb(55, 65, 81);
  height: 14px;
  width: 420px;
  border-radius: 10px;
  margin-left: 20px;
}

.div_Porcentagem {
  background: linear-gradient(to right, rgb(241, 161, 16), rgb(86, 204, 88), rgb(22, 101, 52));
  height: 14px;
  width: 0;
  border-radius: 10px;
}

.p_Progresso {
  color: rgb(151, 158, 171);
  width: auto;
  font-size: 12px;
  font-weight: lighter;
  text-align: right;
  padding-right: 23px;
}