.div_Tarefas {
  background-color: rgb(31, 41, 55);
  height: auto;
  width: 460px;
  border-radius: 10px;
  display: grid;
  grid-template-rows: auto;
  padding-top: 10px;
  padding-bottom: 22px;
  margin: 0 auto;
  margin-top: 15px;
}

.button_Tarefas {
  background-color: rgb(55, 65, 81);
  color: white;
  height: 49px;
  width: 90%;
  font-size: 14.8px;
  font-weight: lighter;
  text-align: left;
  border: none;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 0 20px 345px 30px;
  margin: 0 auto;
  margin-top: 12px;
  cursor: pointer;
}

.button_Tarefas:hover {
  --bgColor: rgb(151, 158, 171, 0.5);
  background-color: var(--bgColor);
}

.img_Checkbutton_Borda {
  height: 25px;
  padding-top: 10px;
  padding-left: 10px; 
}

.img_Checkbutton {
  height: 26.4px;
  opacity: 0;
  padding-top: 9.45px;
  padding-left: 9.43px; 
}

.p_Tarefas {
  width: 364px;
  font-size: 15px;
  padding-top: 15px;
  padding-left: 25px;
}

.p_MaisPontos {
  color: rgb(255,188, 18);
  font-size: 15px;
  font-weight: 750;
  text-align: center;
  padding-top: 16px;
  margin: 0 auto;
}
