.div_Tarefas {
  background-color: rgb(31, 41, 55);
  height: auto;
  width: 460px;
  border-radius: 10px;
  display: grid;
  grid-template-rows: auto;
  padding-top: 10px;
  padding-bottom: 22px;
  margin: 0 auto;
  margin-top: 15px;
}

.button_Tarefas {
  background-color: rgb(55, 65, 81);
  color: white;
  height: 49px;
  width: 90%;
  font-size: 14.8px;
  font-weight: lighter;
  text-align: left;
  border: none;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 0 20px 345px 20px;
  margin: 0 auto;
  margin-top: 12px;
  cursor: pointer;
}

.button_Tarefas:hover {
  background-color: rgb(151, 158, 171, 0.5);
}

.button_Tarefa_Concluida1, .button_Tarefa_Concluida2, .button_Tarefa_Concluida3,
.button_Tarefa_Concluida4, .button_Tarefa_Concluida5 {
  background-color: rgb(4, 81, 50);
}

.button_Tarefa_Concluida1:hover, .button_Tarefa_Concluida2:hover, .button_Tarefa_Concluida3:hover, 
.button_Tarefa_Concluida4:hover, .button_Tarefa_Concluida5:hover {
  background-color: rgba(15, 151, 97, 0.621);
}

.img_Checkbutton_Borda {
  height: 25px;
  padding-top: 10px;
  padding-left: 10px; 
}

.img_Checkbutton {
  height: 26.4px;
  opacity: 0;
  padding-top: 9.45px;
  padding-left: 9.43px; 
}

.img_Checkbutton_Concluida1, .img_Checkbutton_Concluida2, .img_Checkbutton_Concluida3, 
.img_Checkbutton_Concluida4, .img_Checkbutton_Concluida5 {
  opacity: 1;
}

.p_Tarefas {
  width: 364px;
  font-size: 15px;
  padding-top: 15px;
  padding-left: 25px;
}

.p_Tarefa_Concluida1, .p_Tarefa_Concluida2, .p_Tarefa_Concluida3,
.p_Tarefa_Concluida4, .p_Tarefa_Concluida5 {
  color: rgb(151, 158, 171);
  text-decoration: line-through;
  text-decoration-thickness: 1.5px;
}

.p_MaisPontos {
  color: rgb(255,188, 18);
  font-size: 15px;
  font-weight: 750;
  padding-top: 16px;
  margin: 0;
}

.p_MaisPontos_Concluida1, .p_MaisPontos_Concluida2, .p_MaisPontos_Concluida3, 
.p_MaisPontos_Concluida4, .p_MaisPontos_Concluida5 {
  opacity: 0;
}
