.div_Cronometro {
  background-color: rgb(31, 41, 55);
  height: 190px;
  width: 460px;
  border-radius: 10px;
  disPlay: grid;
  grid-template-rows: 50px 70px 50px;
  margin: 0 auto;
  margin-top: 15px;
}

.p_Cronometro {
  font-size: 23px;
  font-weight: bolder;
  margin: 0 auto;
  padding-top: 15px;
}

.p_Tempo {
  color:rgb(18, 202, 187);
  font-size: 57px;
  font-weight: bolder;
  font-family: monospace;
  margin: 0 auto;
}

.button_Iniciar {
  background-color: rgb(18, 202, 187, 0.9);
  height: 53px;
  width: 430px;
  border-radius: 10px;
  border: none;
  display: grid;
  grid-template-columns: 0 0 1fr;
  padding: 0;
  margin: 0 auto;
  cursor: pointer;
}

.button_Iniciar:hover {
  background-color:rgb(18, 202, 187, 0.7);
}

.button_Pausar {
  background-color: rgb(215, 38, 38);
}

.button_Pausar:hover {
  background-color: rgb(215, 38, 38, 0.8)
}

.img_Play {
  height: 27px;
  opacity: 1;
  padding-top: 13.3px;
  padding-left: 162.62px;
}

.img_Pause {
  height: 27px;
  opacity: 0;
  padding-top: 13.3px;
  padding-left: 158.14px;
}

.p_Play {
  height: 25px;
  width: auto;
  font-size: 23px;
  font-weight: bold;
  justify-self: end;
  opacity: 1;
  padding-top: 14.7px;
  padding-right: 162.62px;
}