body {
  background-color: rgb(17, 24, 39);
  height: 1000px;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  color: white;
  margin: 0;
}

.Titulo {
  height: fit-content;
  width: fit-content;
  color: rgb(18, 202, 187);
  font-size: 30px;
  font-weight: 1000;
  transform: scale(1.05, 1.20);
  margin: 0 auto;
  margin-top: 35px;
}

.SemiTitulo {
  height: fit-content;
  width: fit-content;
  color: rgb(151, 158, 171);
  font-size: 16px;
  font-weight: light;
  margin: 0 auto;
  margin-top: 12px;
}
